apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: spendtrack
nameSuffix: -prod

resources:
  - namespace.yaml
  - ../../base

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: spendtrack
    path: patch-deployment.yaml
