apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: megabudget
nameSuffix: -prod

resources:
  - namespace.yaml
  - ../../base

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: megabudget
    path: patch-deployment.yaml
