apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: databases
nameSuffix: -prod

resources:
  - namespace.yaml
  - ../../base

configMapGenerator:
  - name: megabudget-prod-db-config
    literals:
      - APP_DB_NAME=megabudget
      - APP_DB_USER=megabudget_app

generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      group: batch
      version: v1
      kind: Job
      name: db-provision
    path: patch-job.yaml
