apiVersion: batch/v1
kind: Job
metadata:
  name: db-provision
spec:
  template:
    spec:
      containers:
        - name: provision
          envFrom:
            - secretRef:
                name: postgres-admin
            - configMapRef:
                name: megabudget-prod-db-config
            - secretRef:
                name: megabudget-prod-db-secret
