apiVersion: batch/v1
kind: Job
metadata:
  name: db-migrate
spec:
  template:
    spec:
      containers:
        - name: migrate
          envFrom:
            - secretRef:
                name: spendtrack-prod-db-secret
